@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: 'Poppins';
}
h1,h2,h3,h4,h5,h6,p {
  margin: 0;
}
p{
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 26px;
}
h1{
  font-style: normal;
  font-weight: 250;
  font-size: 96px;
  line-height: 90px;
}
h2{
  font-style: normal;
  font-weight: 900;
  font-size: 64px;
  line-height: 90px;
}
.poppins_thin{
font-weight: 250;
}
.poppins_avg{
  font-weight: 600;
}
.poppins_thick{
  font-weight: 900;
}
.text_center{
  text-align: center;
}
.text_left{
  text-align: left;
}
.text_right{
  text-align: right;
}
.text_gray{
  color: #4F4F4F;
}
.text_white{
  color: white;
}
.text_blue{
  color: #6D91EE;
}
.text_card_heading{
  font-style: normal;
  font-weight: 900;
  font-size: 16px;
  line-height: 24px;
}
.text_card{
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}
.text_darkblue{
  color: #324473;
}
.text_contact_us{
  font-family: 'TT Hoves';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #333333;
}
.card_text_margin{
  margin: 0 30px;
}
p.button{
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  display: flex;
  align-items: center;
  text-align: center;
}
.mt-30{
  margin-top: 30px;
}
.mt-50{
  margin-top: 50px;
}
.mt-90{
  margin-top: 90px;
}
.mt-100{
  margin-top: 100px;
}
.mt-156{
  margin-top: 156px;
}
.mb-10{
  margin-bottom: 10px;
}
.mb-20{
  margin-bottom: 20px;
}
.mb-30{
  margin-bottom: 30px;
}
.mb-50{
  margin-bottom: 50px;
}
.mb-60{
  margin-bottom: 60px;
}
.mb-70{
  margin-bottom: 70px;
}
.mb-125{
  margin-bottom: 125px;
}
.gap-15{
  gap: 15px;
}
.gap-35{
  gap: 35px;
}
.gap-45{
  gap: 45px;
}
.container {
  width: 70%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container_parts{
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 168px;
  justify-content: space-between;
}
.container_cards{
  display: flex;
  gap: 22px;
}

// PAGE 1


.section1 {
  width: 100%;
  height: 890px;
  background-image: url("assets/images/p1_background.jpg");
  background-repeat: no-repeat;
}
.section1_logo{
  margin-top: 79px;
  display: flex;
  gap:36px;
}
.section1_button1{
  width: 167px;
  height: 50px;
  background: #5180F7;
  border-radius: 20px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section1_button1:hover{
  background: #89a7f2;
  cursor: pointer;
}
.button_blue{
  width: 280px;
  height: 86px;
  border-radius: 71px;
  color:white;
  background: #5180F7;
  display: flex;
  justify-content: center;
  align-items: center;
}
.button_blue:hover{
  background: #89a7f2;
  cursor: pointer;
}
.button_orange{
  width: 280px;
  height: 86px;
  border-radius: 71px;
  color: black;
  background: #eeab00;
  display: flex;
  justify-content: center;
  align-items: center;
}
.button_orange:hover{
  background: #fd9311;
  cursor: pointer;
}
.section1_heading{
  width: 707px;
  height: 201px;
}
.section1_text_container{
  width: 552px;
}


// PAGE 2


.section2 {
  width: 100%;
  height: 840px;
  background-image: url("/assets/images/p2_background.png");
}
.section2_text{
  width: 500px;
}

// PAGE 3


.services_card{
  width: 385px;
  background: #FFFFFF;
  box-shadow: 0px 10px 30px rgba(16, 51, 30, 0.1);
  border-radius: 30px;  
  display: flex;
  flex-direction: column;
}

// PAGE 4

.testymonials_card_container{
  display: flex;
  gap: 45px;
}
.testymonials_card{
  width: 577px;
  background: #FFFFFF;
  border: 1px solid #6D91EE;
  border-radius: 40px;
  display: flex;
  padding: 30px;
  gap: 15px;
}
.textymonials_card_textsection{
  display: flex;
  flex-direction: column;
  gap: 10px;
}


// TEXT HEADING CORNERS
.corner_container{
  position: relative;
}
.corner_tl{
  width: 33px;
  height: 0px;
  border: 0.5px solid #6D91EE;
  position: absolute;
  top: 10px;
  left: -20px;
  transform: rotate(-45deg);
}
.corner_tr{
  width: 33px;
  height: 0px;
  border: 0.5px solid #6D91EE;
  position: absolute;
  top: 10px;
  right: -20px;
  transform: rotate(45deg);
}
.corner_bl{
  width: 33px;
  height: 0px;
  border: 0.5px solid #6D91EE;
  position: absolute;
  bottom: 10px;
  left: -20px;
  transform: rotate(45deg);
}
.corner_br{
  width: 33px;
  height: 0px;
  border: 0.5px solid #6D91EE;
  position: absolute;
  bottom: 10px;
  right: -20px;
  transform: rotate(-45deg);
}

// PAGE CONTACT US

.container_contact_us{
  width: 788px;
  display: flex;
  gap: 100px;
}
.container_contact_us_divider{
  display: flex;
  flex-direction: column;
}
.contact_us_field{
  width: 374px;
  height: 56px;
  background: #CEDCFF;
  border-radius: 61px;
}
.contact_us_button{
  width: 168px;
  height: 56px;
  border: 3px solid #5180F6;
  border-radius: 61px;
}
.contact_us_form_field{
  display: flex;
  gap: 22px;
  align-items: center;
}
// centered 1st contact us divider container
.center{
  align-items: center;
}

// FOOTER BLUE BACKGROUND
.background_dark_blue{
  background: #0C1E49;
}
.footer_section_size{
  height: 145px;
}
